<%= form_with scope: :student, url: students_path, local: true do |form| %>
  <p>
    <%= form.label :roll_no %><br>
    <%= form.text_field :roll_no %>
  </p>

  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>

  <p>
    <%= form.label :address %><br>
    <%= form.text_area :address %>
  </p>

  <p>
    <%= form.label :standard %><br>
    <%= form.text_area :standard %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', students_path %>
