<html>
<body>
<h1> student</h1>
<table border="2">
<tr>
  <th><strong>RollNo:</strong></th>
  <th><strong>StudenName:</strong></th>
  <th><strong>Address:</strong></th>
  <th><strong>Standard:</strong></th>
</tr>

<tr>
  <td><%= @student.roll_no %></td>
  <td><%= @student.name %></td>
  <td><%= @student.address %></td>
  <td><%= @student.standard %></td>
</tr>
</table>
<%= link_to 'All Students List', students_path %>
</body>
</html>
